@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.main {
  font-family: poppins;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 396px;
  border-radius: 16px;
  /* background-image: linear-gradient(45deg, white, rgba(195, 117, 218, 0.45)); */
  background: linear-gradient(
    45deg,
    rgb(255, 255, 255),
    /* rgba(255, 192, 203, 0.888), */ rgba(179, 138, 209, 0.482)
  );
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: poopins;
}

.header {
  position: relative;
  height: 114px;
  width: 326px;
  margin-top: 24px;
  margin-left: 16px;
}

.content {
  position: relative;
  height: 61px;
  width: 252px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.wlcm {
  position: relative;
  font-family: Crimson Pro;
  font-weight: 400;
  font-size: 32px;
  line-height: 35.56px;
}

.brands {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #787878;
}

.btnn {
  position: relative;
  height: 37px;
  width: 326px;
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  margin-top: 16px;
}

.two {
  height: 37px;
  width: 226px;
  display: flex;
}

.influ {
  height: 37px;
  width: 152px;
  border-radius: 30px;
  padding: 8px 12px 8px 12px;
  font-family: poppins;
  color: #444444;
  text-align: left;
  font-size: 14px;
  white-space: nowrap;
  line-height: 20px;
  cursor: pointer;
  border: 1px solid #a1a1a1;
}

.influ:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #444444;
  color: white;
}

.brand {
  height: 37px;
  width: 66px;
  border-radius: 30px;
  padding: 8px 12px 8px 12px;
  border: 1px solid #a1a1a1;
  font-family: poppins;
  text-align: center;
  margin-left: 10px;
  line-height: 20px;
  cursor: pointer;
  font-size: 14px;
}

.brand:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #444444;
  color: white;
}

.number {
  height: 24px;
  width: 21px;
  font-family: poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.center {
  height: 104px;
  width: 352px;
  margin-top: 8px;
  margin-left: 24px;
  margin-top: 8px;
}

.phone {
  font-family: poppins;
  height: 48px;
  width: 352px;
  border-radius: 8px;
  background-color: #f5f5f5;
  text-align: left;
  vertical-align: middle;
  line-height: 21px;
  font-size: 14px;
  margin-top: 28px;
  background-color: #f5f5f5;
  border: none;
  outline: none;
  font-weight: 400;
  text-indent: 10px;
}

/* .psw .eye {
  float: right;
  margin-left: 275px;
} */
.eye {
  position: absolute;
  right: 40px;
  top: 58%;
  transform: translateY(50%);
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.pass {
  font-family: poppins;
  height: 48px;
  width: 352px;
  border-radius: 8px;
  background-color: #f5f5f5;
  margin: auto;
  text-align: left;
  vertical-align: middle;
  line-height: 21px;
  font-size: 14px;
  margin-top: 8px;
  background-color: #f5f5f5;
  border: none;
  outline: none;
  font-weight: 400;
  text-indent: 10px;
}

.fp {
  font-family: poppins;
  width: 101px;
  height: 18px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 8px;
  white-space: nowrap;
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
  margin-left: 275px;
  margin-top: 40px;
}

.login {
  font-family: poppins;
  width: 326px;
  height: 56px;
  border-radius: 8px;
  background-color: #0027ca;
  color: white;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}
